html {
    background-color: black;
}

div {
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
}

h1 {
    font-family: 'Libre Baskerville', serif;
    text-transform: uppercase;
}

img {
    width: 100%;
    border: 5px solid white;
}

p, h1 {
    color: white;
    text-align: center;
}